.main-card{
    width: 1000px;
    height: 1000px;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    /* box-shadow: -1px 0 10px black; */
    text-align: left;
    display: flex;
    margin: 10px;
    padding: 5px;
    margin-left: 100px;
    border-radius: 10px;
}
.card{
    width: 1000px;
    height: 500px;
    margin-top: -500px;
    /* box-shadow: -1px 0 10px black; */
}

img{
    width: 500px;
    height:300px;
    border-radius: 20px;
    margin-top: -800px;
    margin: 10px;
    padding: 10px;
    margin-left: 40px;
}

.main-card h3{
    padding: 5px;
    margin: 0;
    
}