<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assist/Stylesheets/style.css">
    <link rel="stylesheet" href="/Assist/Stylesheets/index.css">
    <title>Dhakadam Mahila Sanakisan Co-operative Sanstha Ltd.</title>

</head>

<body>
    <!-- this line for header -->
    <header>
        <img src="/Assist/Img_all/logo1.jpg">
        <h1>Dhakadam Mahila Sanakisan Agriculture Co-operative Sanstha Ltd.</h1>
        <h3>Darma 5, Triveni, Salyan</h3>
        <h3>Phone: 082-520165 | Email : dmsfacldhakadamsln@gmail.com</h3>
    </header>
    
    <!-- this code for nav bar -->
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="#">About Us</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="/templates/Public/ceo_sms.html">Message of CEO</a></li>
                    <li><a href="/templates/Public/bod.html">Board of Director</a></li>
                    <li><a href="/templates/Public/mgt team.html">Management Team</a></li>
                    <li><a href="#">Support Team</a></li>
                    <li><a href="#">Branch Network</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Services</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="#">Loan</a>
                        <div class="loan-type">
                            <ul>
                                <li><a href="/templates/Loan_product/home_loan.html">Home Loan</a></li>
                                <li><a href="/templates/Loan_product/agri_loan.html">Agriculture Loan</a></li>
                                <li><a href="/templates/Loan_product/vehicle_loan.html">Vehicle Loan</a></li>
                                <li><a href="/templates/Loan_product/business_loan.html">Business Loan</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Saving</a>
                        <div class="loan-type">
                            <ul>
                                <li><a href="/templates/Saving _product/personal_saving.html">Personal Saving</a></li>
                                <li><a href="/templates/Saving _product/nari_saving.html">Nari Saving</a></li>
                                <li><a href="/templates/Saving _product/bal_saving.html">Bal Savin</a></li>
                                <li><a href="/templates/Saving _product/festival.html">Fetivle Saving</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Insuracne</a></li>
                    <li><a href="#">Financeing</a></li>
                </ul>
            </div>
        </li>
        <li><a href="/templates/Public/notice.html">Notice</a></li>
        <li><a href="/templates/Public/career.html">Career</a></li>
        <li><a href="/templates/Public/Gallery.html">Gallery</a></li>
        <li><a href="/templates/Public/contact.html">Contact</a></li>
        <a id="date"style="text-align: right; margin-left: 600px; margin-top: -400px; position: relative;"></a>
    </ul>
    <!-- this code for body -->
    <div class="ceo-card">
        <div class="ceo">
            <img src="/Assist/Img_all/CEO.jpg" alt="">
            <h2>Dear Members, Partners, and Stakeholders,</h2>

            <p>It gives me immense pleasure to extend my warmest greetings to all of you. As we move forward in our
                journey as a cooperative organization, we reflect on the achievements and the impact we have made
                together. Our cooperative, founded on the principles of mutual aid, transparency, and member
                empowerment, continues to grow stronger, guided by these core values.</p>

                <p>In the past year, we have achieved significant milestones in improving the livelihoods of our members,
                ensuring financial inclusion, and promoting community-based sustainable development. Through your
                continued trust and support, we have expanded our services, providing accessible financial solutions,
                empowering entrepreneurs, and fostering a culture of savings and self-reliance.</p>

                <p>As we look to the future, our focus will remain on innovation and member-centric growth. We are
                committed to enhancing our digital platforms, improving operational efficiency, and introducing new
                products tailored to the evolving needs of our members. Together, we will strive to create a prosperous
                and resilient cooperative, deeply rooted in the values of equality, participation, and shared
                prosperity.</p>

                <p>I want to extend my heartfelt gratitude to the board, management team, and each of our dedicated members
                who have contributed to the success of this organization. Let us continue to work in solidarity to
                realize our shared goals and uplift our communities.</p>

                <p>Thank you for your unwavering commitment to our cooperative’s mission.</p>

            <h3>Surendra Prakash K.C</h3>
            <h3>CEO</h3>
        </div>
    </div>


    <footer>
        <p>&copy; 2024 Dhakadam Mahila Sanakisan Co-operative Sanstha Ltd. All rights reserved.</p>
    </footer>
    <script src="/Assist/Js_files/js_file.js"></script>
</body>

</html>