<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assist/Stylesheets/style.css">
    <link rel="stylesheet" href="/Assist/Stylesheets/loan.css">
    <title>Dhakadam Mahila Sanakisan Co-operative Sanstha Ltd.</title>

</head>

<body>
    <!-- this line for header -->
    <header>
        <img src="/Assist/Img_all/logo1.jpg">
        <h1>Dhakadam Mahila Sanakisan Agriculture Co-operative Sanstha Ltd.</h1>
        <h3>Darma 5, Triveni, Salyan</h3>
        <h3>Phone: 082-520165 | Email : dmsfacldhakadamsln@gmail.com</h3>
    </header>
    
    <!-- this code for nav bar -->
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="#">About Us</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="/templates/Public/ceo_sms.html">Message of CEO</a></li>
                    <li><a href="/templates/Public/bod.html">Board of Director</a></li>
                    <li><a href="/templates/Public/mgt team.html">Management Team</a></li>
                    <li><a href="#">Support Team</a></li>
                    <li><a href="#">Branch Network</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Services</a>
            <div class="sub-menu">
                <ul>
                    <li><a href="#">Loan</a>
                        <div class="loan-type">
                            <ul>
                                <li><a href="/templates/Loan_product/home_loan.html">Home Loan</a></li>
                                <li><a href="/templates/Loan_product/agri_loan.html">Agriculture Loan</a></li>
                                <li><a href="/templates/Loan_product/vehicle_loan.html">Vehicle Loan</a></li>
                                <li><a href="/templates/Loan_product/business_loan.html">Business Loan</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Saving</a>
                        <div class="loan-type">
                            <ul>
                                <li><a href="/templates/Saving _product/personal_saving.html">Personal Saving</a></li>
                                <li><a href="/templates/Saving _product/nari_saving.html">Nari Saving</a></li>
                                <li><a href="/templates/Saving _product/bal_saving.html">Bal Savin</a></li>
                                <li><a href="/templates/Saving _product/festival.html">Fetivle Saving</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Insuracne</a></li>
                    <li><a href="#">Financeing</a></li>
                </ul>
            </div>
        </li>
        <li><a href="/templates/Public/notice.html">Notice</a></li>
        <li><a href="/templates/Public/career.html">Career</a></li>
        <li><a href="/templates/Public/Gallery.html">Gallery</a></li>
        <li><a href="/templates/Public/contact.html">Contact</a></li>
        <a id="date"style="text-align: right; margin-left: 600px; margin-top: -400px; position: relative;"></a>
    </ul>

    <div class="main-card">
        <div class="card">
            <img src="/Assist/img_loan/bl1.jpg" alt="">
            <h3>Business Loan</h3>
            <p>Requires a minimum balance of <b>Rs. 500,000/-</b> This account is
                ikely for individual savings with basic features. And <b>9.99% Interest Rate</b> at the Personal Saving.
            </p>
        </div>
        <div class="card">
            <img src="/Assist/img_loan/bl2.jpg" alt="">
        </div>
    </div>

    <footer>
        <p>&copy; 2071 Dhakadam Mahila Sanakisan Co-operative Sanstha Ltd. All rights reserved.</p>
    </footer>

    <script src="/Assist/Js_files/js_file.js"></script>
</body>

</html>